# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
docs/
frontend/autosales-web/dist/
backend/bmw-project/dist/

# IDE / éditeurs
.idea/
.vscode/

# Autres
.DS_Store
.env
.env.local
.firebase/
firebase-debug.log*
backend/bmw-project/bmw-sales.db
