DB_TYPE=postgres
DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.<project_ref>
DB_PASS=your_password
DB_NAME=postgres
DB_SSL=true
DB_SYNC=false
JWT_SECRET=change_me
PORT=10000
